<p id="notice"><%= notice %></p>

<p>
  <b>Campaign:</b>
  <%= @campign_result.campaign %>
</p>

<p>
  <b>Name:</b>
  <%= @campign_result.name %>
</p>

<p>
  <b>Address:</b>
  <%= @campign_result.address %>
</p>

<p>
  <b>Year:</b>
  <%= @campign_result.year %>
</p>

<p>
  <b>Model:</b>
  <%= @campign_result.model %>
</p>

<p>
  <b>Make:</b>
  <%= @campign_result.make %>
</p>

<p>
  <b>Vin:</b>
  <%= @campign_result.vin %>
</p>

<p>
  <b>Ro date:</b>
  <%= @campign_result.RO_Date %>
</p>

<p>
  <b>W amount:</b>
  <%= @campign_result.W_Amount %>
</p>

<p>
  <b>I amount:</b>
  <%= @campign_result.I_Amount %>
</p>

<p>
  <b>C amount:</b>
  <%= @campign_result.c_amount %>
</p>

<p>
  <b>Ro amount:</b>
  <%= @campign_result.ro_amount %>
</p>

<p>
  <b>Part amount:</b>
  <%= @campign_result.part_amount %>
</p>

<p>
  <b>Labor amount:</b>
  <%= @campign_result.labor_amount %>
</p>

<p>
  <b>Misc amount:</b>
  <%= @campign_result.misc_amount %>
</p>


<%= link_to 'Edit', edit_campign_result_path(@campign_result) %> |
<%= link_to 'Back', campign_results_path %>
